<section class="py-4 text-sm-left text-md-left text-lg-left text-xl-left" >
    <div class="container">
      <h1 class="titulo">Jim Knopf und Lukas der Lokomotivführer</h1>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img
              src="/assets/images/bestseller.jpeg"
              class="card-img-top"
              alt="Jim Knopf"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate asperiores, et architecto harum dicta cumque, saepe perspiciatis eveniet placeat illo, provident ratione impedit fuga nisi hic deleniti blanditiis officia fugiat autem. Iure in voluptates quae facilis aliquam quibusdam aspernatur culpa expedita amet cumque, veritatis minus fugiat sequi inventore odio iste consequuntur voluptate omnis molestiae autem modi laborum praesentium corporis nesciunt? Aliquid suscipit ipsam ducimus quae ab qui consectetur ipsa a magni quod unde, dolore, libero tenetur debitis, voluptatum dolor doloremque animi magnam ut reprehenderit odio. Ab suscipit omnis amet? Atque magni ratione mollitia sunt, quo molestias porro perferendis deserunt amet!
            </p>
            <div class="valor">
              <h6>Valor Unitario $50.000,00</h6>
              <p>Cantidad: <input type="number" name="cant" min="1"></p>
            </div>
            <div class="total">
              <form class="d-flex">
                <h4>Total $50.000,00 </h4>
                  <button class="btn-primary" type="submit">
                    Añadir al Carrito
                  </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
